/* #B76D68
   #403F4C
   #2C2B3C
   #1B2432
   #121420 */
body {
    background-color: #121420;
    margin: 0;
    color: white;
}

#navtable {
    width: 100%;
    margin: 0;
    text-align: center;
}
td {
    width: 33%;
}
a {
    color: white;
    text-decoration: none;
}

#nav {
    position: absolute;
    background-color: #2C2B3C;
    width: 100%;
    height: 80px;
    font-size: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
}

#sekcje {
    display: flex;
    justify-content: space-evenly;
}
#lewy, #prawy {
    margin-top: 80px;
    background-color: #403F4C;
    height: 820px;
    width: 700px;
}
#footer {
    position: absolute;
    background-color: #2C2B3C;
    width: 100%;
    height: 40px;
    display: flex;
    justify-content: center;
    align-items: center;
}