@font-face { font-family: Pixeled; src: url('../../../fonts/pixeled/Pixeled.ttf');} /* Font implementation */

body {margin: 0px; color:rgb(255, 255, 255); font-family:'Pixeled';} /* Font config */
::-webkit-scrollbar{display: none;} /* Dont display scrollbar */
nav{user-select: none;} /* Can't select nav elements */

.element:hover {
    cursor:pointer; /* Cursor pointer for nav elements */

    color:#b65d57; /* Hover color change */
}

nav, footer {
    background-color: #2C2B3C; /* Background color */

    vertical-align: middle; /* Center vertically */
    line-height: 50px;

    width: 100%;

    display: flex; /* Display nav items in rows*/
    flex-direction: row;
    justify-content: space-around;

    font-size: 25px; /* Font Size */
}
nav {height: 50px;}

footer {
    font-family:'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif; /* Footer font implementation */

    position: absolute; /* Stick to bottom fix */
    bottom: 0;
    height: 60px;

    padding-bottom: 20px; /* Center vertically */
}
#breset {
    color: white;
    font-family: 'Pixeled';
    padding-bottom: 5px;
    background-color: #403F4C;
    width: 30%;
    height: 40px;
    border: none;
    border-bottom: 2px solid #121420;
}
#breset:hover {cursor:pointer; background-color:#2C2B3C;}
main {
    background-color: #121420; 

    width: 100%; /* 100% without nav and footer */
    top: 50px; 
    bottom: 50px;
    position:absolute;
}

#buttonek {
    width: 200px;
    height: 200px;
    background-color: rgb(211, 210, 210);
    border: 5px solid #181720;
}
#buttonek2 {
    width: 200px;
    height: 200px;
    background-color: rgb(38, 253, 0);
    border: 5px solid #181720;
}
#buttonek:hover {
    background-color: #b65d57;
}
#buttonek2:hover {
    background-color: purple;
}
#buttonek:active {background-color: rgb(211, 210, 210);}
#buttonek2:active {background-color: rgb(38, 253, 0);}

#tekst{
height:30%;
}
#teks1{
    height:20%;
    }
section#left {
    font-size: 20px;
    background-color: #403F4C;
    width: 40%;
    height: 100%;
    text-align: center;
    margin: auto;
}